/* My Custom CSS */

body {
    background-color: beige;
    
}

h1 {
font-family: 'Noto Sans', sans-serif;
font-family: 'Righteous', cursive; 
    
}

h2 {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4) inset;
    background: linlear gradient(to bottom, #fff 30%, #fcfcfc 40%, #f8f8f8 50% #f0f0f0 100%);
    border-radius: 7px;
}

@keyframes slidein {
    0% {
        margin-left: 0%;
    }
    50% {margin-left: 150px}
    
    100% {margin-left: 0%}
}

h3 {
    animation-duration: 8s;
    animation-name: slidein3;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4) inset;
    background: linlear gradient(to bottom, #fff 30%, #fcfcfc 40%, #f8f8f8 50% #f0f0f0 100%);
    border-radius: 10px;
}

@keyframes slidein3 {
    0% {
        margin-left: 0%;
    }
    50% {margin-top: 100px}
    
    100% {margin-left: 0%}
}

p {
font-family: 'Noto Sans', sans-serif;
   
    
}


.row {
    padding: 15px;
    height: 300px;
    width: 100%;
}

.p-2 {
    width: 600px;
}

.dropdown-content {
    
    display: none;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btnl {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color:#4d4d4d;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: all 0.4s ease;
}

.accorion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    transition: all 0.4 ease;
}

.accordion li i.fa-chevron-down{
    right: 12ps;
    left: auto;
    font-size: 16px;
}

accordion li.open .link{
    color: #aa00ff;
}
